<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentlerMaintenance.Properties.Settings.Rentler_Data_RentlerContextConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Rentler.Data.RentlerContext;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>