@model Rentler.Web.Email.EmailChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<div class="marginBottom" style="margin-bottom: 10px;">@Model.Name,</div>
<div class="marginBottom" style="margin-bottom: 10px;">This is a courtesy email letting you know your password has been changed on our website.</div>
<div class="section grey" style="margin-bottom: 10px;"><a href="@Rentler.Web.Config.Hostname/account/login">Click here to login</a></div>