@model Rentler.Web.Email.EmailForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<div class="marginBottom" style="margin-bottom: 10px;">@Model.Username,</div>
<div class="marginBottom" style="margin-bottom: 10px;">Your password has just been reset on our site.</div>
<div class="marginBottom" style="margin-bottom: 10px; color: #808080; padding-top: 10px; padding-bottom: 10px; border-top: solid 1px #dadbdc; border-bottom: solid 1px #dadbdc;">The new password is: @Model.NewPassword</div>
<div class="section grey" style="margin-bottom: 10px;"><a href="@Rentler.Web.Config.Hostname/account/login">Click here to login.</a></div>