<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Pre-populated asp.net mvc settings -->
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="AddThisPubId" value="xx-xxxxxxxxxxxxxxxx" />
		<add key="GoogleCode" value="UA-XXXXX-X" />
		<!-- Caching configuration -->
		<add key="L1CacheEnabled" value="false" />
		<!-- Redis configuration for l2 caching -->
		<add key="RedisHost" value="localhost" />
		<add key="RedisAuth" value="" />
		<add key="RedisPort" value="6379" />
		<add key="RedisDatabase" value="0" />
		<add key="Hostname" value="http://localhost:48325" />
		<!-- Azure Blob Images -->
		<add key="BlobStorageHostname" value="https://photos.rentler.com/" />
		<add key="BlobPrefix" value="Dev" />
		<add key="BlobConnection" value="DefaultEndpointsProtocol=https;AccountName=rentler;AccountKey=cMDGNfJVdefvLSGNIvSDQ5Ym5Vdlwhx7uJxx5i9Kt9xcPhYAdGEw3N8x1bRYsjngsid5RyDb3F0p4p29OGUNLw==" />
		<!-- Modpay Payment Settings -->
		<!-- Be warned, these are *live* settings -->
		<add key="ModpayClientId" value="33713" />
		<add key="ModpayClientCode" value="48A73E33" />

		<!-- KSL Config -->
		<add key="KslUrl" value="http://localhost:8219/"/>
		<add key="KslSearchPath" value="search/?"/>
		<add key="KslListingPath" value="listing/view/"/>
		<add key="KslLoginPath" value="/account/login"/>

		<!-- Penny/Production Pricing -->
		<add key="StorePricing" value="Penny"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
