@model Rentler.Web.Models.AccountForgotPasswordModel
@section title { Forgot Password }
@section description {}
@section css {
    <link href="/css/pages/forgotpassword.css?v=@Html.BuildNumber()" rel="Stylesheet" />
}
@section js {
    <script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div id="forgotpassword" class="container">
    <div class="centerHeading">
		<h1>Lost your password?</h1>
		<div>Just enter in your email address, and we will reset it for you.</div>
	</div>
    <div class="forgotPasswordContainer">
        <div class="left formBox">
            <div class="darkHeading">Enter your email address</div>
            @using (Html.BeginForm("forgotpassword", "account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary("Please correct the errors and try again:")
                <div class="message @(string.IsNullOrWhiteSpace(Model.Message) ? "hide" : "")">@Model.Message</div>
                <fieldset>
                    <div class="control-group">
                        <label for="Input_Email" class="control-label">Email</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Input.Email)
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="button blue" value="Reset Password">Reset Password</button>
                    </div>
                </fieldset>
            }
        </div>
        <div class="left marketingBox">
            <div>
				<div class="sectionHead">Renters</div>
				<div>
				Find houses simply and easily! Once you have found your interests
                save them for later use. Once you talk to potential homeowners submit
                your application to multiple houses with a single click. Pay online
                right through the site getting one more bill digital.
                </div>
			</div>
			<div>
				<div class="sectionHead">Landlords</div>
				<div>
				Manage all your homes in one place. Quickly create a listing that
                can be used forever. Easily get rent from your tenants. 
                Create state-legal contracts and have all the leases in 
                one place so you always know what you've have agreed to.
                </div>
			</div>
        </div>
        <div class="clr"></div>
    </div>
</div>
