@model Rentler.Web.Models.AccountSendAppModel
@section Title {Tenant Application}
@section css {
    <link rel="Stylesheet" href="/css/pages/sendapp.css?v=@Html.BuildNumber()" />
}
<div class="container body" style="width: 550px;">
    <h2 class="darkHeading">Send Application</h2>
    <div class="gradHeading">
	    <p>Your application has been sent</p>
	    <div class="subHeading">
		    <a href="/" class="button green">I'm done</a>
	    </div>
    </div>
</div>
