<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RentlerBackupEntities" connectionString="metadata=res://*/RentlerOld.csdl|res://*/RentlerOld.ssdl|res://*/RentlerOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=RentlerBackup;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RentlerNewEntities" connectionString="metadata=res://*/New.RentlerNew.csdl|res://*/New.RentlerNew.ssdl|res://*/New.RentlerNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=RentlerNew;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>