@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">
        <div class="span3">
        @Html.Partial("AdminSideNavPartial", "")
        </div>
        <div class="span9">
            <div class="page-header">
                <h1>Administration</h1>
            </div>
            <p>Welcome to the good ol Rentler administration panel. There are a number of features that will be added over time, but here is the basis.</p>
        </div>
    </div>

</div>