<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KslDupeKilla.Terminal.Properties.Settings.RentlerConnectionString"
            connectionString="Data Source=ojcqrdf9an.database.windows.net;Initial Catalog=Rentler;Persist Security Info=True;User ID=RentlerAdmin;Password=7h3r3n73r!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>