<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<connectionStrings>
		<!--<add name="Rentler.Properties.Settings.RentlerConnectionString"
					connectionString="Data Source=.\sqlexpress;Initial Catalog=Rentler;Integrated Security=True"
					providerName="System.Data.SqlClient" />-->
		<add name="Rentler.Properties.Settings.RentlerConnectionString"
			connectionString="Data Source=ojcqrdf9an.database.windows.net;Initial Catalog=Rentler;Persist Security Info=True;User ID=RentlerAdmin;Password=7h3r3n73r!"/>
		<add name="BlobConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=rentler;AccountKey=cMDGNfJVdefvLSGNIvSDQ5Ym5Vdlwhx7uJxx5i9Kt9xcPhYAdGEw3N8x1bRYsjngsid5RyDb3F0p4p29OGUNLw=="/>
	</connectionStrings>
</configuration>
