<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BookSleeve" version="1.1.0.8" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" />
  <package id="foolproof" version="0.9.4517" />
  <package id="MvcExtensions" version="2.5.0" />
  <package id="MvcExtensions.Foolproof" version="2.5.0" />
  <package id="MvcMailer" version="1.1" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.480" />
  <package id="ServiceStack.Text" version="3.9.21" targetFramework="net40" />
  <package id="T4Scaffolding" version="0.9.9" />
</packages>