<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="KslSoldPropertiesRemover.Properties.Settings.RentlerBackupConnectionString"
				connectionString="Data Source=.\sqlexpress;Initial Catalog=RentlerBackup;Integrated Security=True"
				providerName="System.Data.SqlClient"/>
		<!--<add name="KslSoldPropertiesRemover.Properties.Settings.RentlerBackupConnectionString"
      connectionString="Data Source=ojcqrdf9an.database.windows.net;Initial Catalog=Rentler;Persist Security Info=True;User ID=RentlerAdmin;Password=7h3r3n73r!"/>-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
