@section Title{About Us}
@section Description {The Team - Jason Bangerter, Eric Martinis, Matt Kruskamp, Dustin Dahl, Cory Hedges, Todd Chiniquy, Tim Benzinger }
@section Css {
<style type="text/css">h2 { color: #7398A8; font-family: 'Georgia', 'Times News Roman', 'Serif'; }</style>
}

<div class="centerHeading">
	<h1>Rentler.com</h1>
	<div>Sandy, UT</div>
</div>

<div style="text-align:center; margin: 0px auto;">
	<h2>The Team</h2>
	<p><strong>Jason Bangerter</strong> - Vision and Connections</p>
	<p><strong>Eric Martinis</strong> - Financial and Moral Support</p>
	<p><strong>Matt Kruskamp</strong> - Development and Idealism</p>
	<p><strong>Dustin Dahl</strong> - Development and Realism</p>
	<p><strong>Cory Hedges</strong> - Development and Productivity</p>
	<p><strong>Todd Chiniquy</strong> - Sales and Excitement</p>
	<p><strong>Tim Benzinger</strong> - Design and Remoting</p>
	<h2>Special Thanks</h2>
	<p>Ksl.com</p>
	<p>Credit Plus</p>
	<p>Jared Allen</p>
	<p>&nbsp;</p>
	<p>@Html.BuildVersion()</p>
</div>
