@section title {Privacy Policy}
@section description {The protocol we use to protect your information}

<div class="container">
    <div class="centerHeading">
	    <h1>Privacy Policy</h1>
	    <div>The protocol we use to protect your information</div>
    </div>

    <ol class="terms">
        <li>
            1. <u>Scope.</u> This Privacy Policy describes how we handle your personal information for our services available on Rentler.com and on other related sites, tools, applications, or services. By accepting this Privacy Policy and the Terms of Use, you expressly consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy, including its transfer to and storage on our servers in the United States or elsewhere in the world. 
        </li>
	    <li>
            2. <u>Collection.</u> While you can use some functions of Rentler.com without being a registered user, certain activities (such as viewing property contact information and advertising a property) do require registration. Once you give us your personal information, you are not anonymous to us. In most cases, the information we hold about you is collected through Rentler.com, but we may also collect information from private-label, co-branded and affiliate websites or their tools, applications or services ("Other Sites"). Depending on the services used, we may collect and store the following personal information:
		    <ul>
			    <li>(a)	contact information such as name, email address, address and telephone number;</li>
			    <li>(b)	move-in date and demographic information such as gender, age, marital status, occupation, and other personal and lifestyle information (for example, if you respond to an optional survey request);</li>
			    <li>(c)	financial information such as credit card or bank account numbers;</li>
			    <li>(d)	additional information we may ask you to send or questions we may ask you to answer to verify your identity (such as your driver's license, credit card statement, and/or a recent utility bill or other information confirming your address);</li>
			    <li>(e) Logs, contact information and other information about the communications between Tenants and Landlords using our communications tools (see Lead Response below).</li>
			    <li></li>
			    <li>(f)	guest card information, lease terms, lease parties and other transactional information; </li>
			    <li>(g)	information based on your interactions with Rentler.com or the Other Sites and their advertising, such as search information, computer sign-on data, statistics on page views, traffic to, from and within Rentler.com or Other Sites, ad data, IP address and standard web log information; and </li>
			    <li>(h)	supplemental information from third parties (for example, if you incur a debt to Rentler.com, we may conduct a credit check by obtaining additional information about you from a credit bureau, as permitted by law). </li>
			    <li>(i)	information about your computer or other access device to mitigate risk and for fraud prevention purposes.</li>
		    </ul>
	    </li>
	    <li>
		    3.	<u>Use.</u> Our primary purpose in collecting personal information is to provide you with a safe, smooth, efficient, and customized experience. We may use your personal information to:
		    <ul>
			    <li>(a)	Provide the services and customer support you request, including confirming emails related to the Rentler.com services, reminders and transactions. </li>
			    <li>(b)	Provide the ability to communicate with Tenants and Landlords. </li>
			    <li>(c)	Resolve disputes, collect fees and troubleshoot problems. </li>
			    <li>(d)	Customize your experience and otherwise measure and improve Rentler.com's services.</li>
			    <li>(e)	Deliver targeted marketing, service updates, and promotional offers based on your communication preferences. (If we use your personal information to market to you, you will be able to opt-out of such uses; see Email Preferences and About Cookies below.) </li>
			    <li>(f)	Compare information for accuracy and verify it with third parties. </li>
			    <li>(g)	Measure consumer interest in our products and services. </li>
			    <li>(h)	Help promote a safe service and detect and prevent error, fraud and other potentially prohibited or illegal activity. </li>
			    <li>(i)	Enforce our agreements, terms, condition, and policies.</li>
			    <li>(j)	Provide services as otherwise described to you at the time of collection. </li>
		    </ul>
	    </li>
	    <li>
		    4.	<u>Disclosure.</u> We don't sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may share some or all of your personal information with:
		    <ul>
			    <li>(a)	Law enforcement offices, third-party rights owners or others in the good faith belief that such disclosure is reasonably necessary to enforce our Terms of Use or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public. </li>
			    <li>(b)	Other third parties to whom you explicitly ask us to send your information, or about whom you are explicitly notified and consent to when using a specific service. (The information we disclose in this way may be subject to those third parties' privacy policies.) </li>
			    <li>(c)	Service providers under contract who help with our business operations (such as fraud investigations, bill collection, invoicing, affiliate and rewards programs and co-branded credit cards). </li>
			    <li>(d)	Another business entity should we (or our assets) plan to merge with, or be acquired by that business entity. (Should such a combination occur, we will require that the new combined entity follow this privacy policy with respect to your personal information. If your personal information will be used contrary to this policy, you will receive prior notice.)</li>
		    </ul><br />
		    Without limiting the above, in an effort to respect your privacy and our ability to keep the community free from bad actors, we will not otherwise disclose your personal information to law enforcement, other government officials, or other third parties without a subpoena, court order or substantially similar legal procedure, except when we believe in good faith that the disclosure of information is necessary to prevent imminent physical harm or financial loss or to report suspected illegal activity.
	    </li>
	    <li>
		    5.	<u>Communications and Communication Tools.</u> Rentler.com communicates with users, and facilitates communications between users, in a variety of ways. 	
		    <ul>
			    <li>(a)	Lead Response. We make tools available that facilitate communications between Tenants and Landlords by phone or email. When these tools are used, we may collect certain information related to the communication, like contact logs, calling number, call duration, contents of the email communication, and (when notified during the call) call recordings. We may share this information with Landlords so they can manage their communications with Tenants, and we will use this information to enforce our rights to collect fees payable by the Landlords.</li>
			    <li>(b)	Send-to-a-Friend. If you use our Send-to-a-Friend or other email tools, we do not permanently store the email address you give us or use that email address for any marketing purpose. We do not rent or sell these email addresses.</li>
			    <li>(c)	Email preferences. We provide all users with the opportunity to opt out of receiving non-essential (promotional, marketing-related) communications from us after setting up an account. To remove your contact information from Rentler.com lists and newsletters, simply edit your email preferences.</li>
			    <li>(d)	Email Notes and Photos. If you use our Email Notes and post Photos of potential rental properties on Rentler.com, your notes and/or photos will be displayed on Rentler.com and treated like other personal information you have provided. If your posting contains personal information, post only personal information for which you have authorization and which you are comfortable having displayed on Rentler.com.</li>
		    </ul>
	    </li>
	    <li>
		    6.	<u>Cookies.</u> We or our service providers may place cookies or web beacons on your computer when you visit portions of Rentler.com. We use permanent cookies to provide personalized features, such as automatically logging you into your personalized home page and to deliver customized services, content, and advertising. We use session cookies, which are deleted when you log out of Rentler.com or browse to a different website, to monitor and improve the functionality and usability of our website. You can block our cookies by changing the settings on your browser (contact your ISP for help), but doing so may prevent us from delivering certain services to you. 	
		    <br />
		    <br />
		    We may use third-party advertising companies to serve ads on our and our advertising partners' behalf. These companies may employ cookies and web beacons to deliver advertising and measure its effectiveness. Any information that these third parties collect via cookies and web beacons is completely anonymous. Please visit these advertising companies’, if any, websites for more information about how to "opt-out." 
	    </li>
	    <li>
		    7.	<u>Third Parties.</u> Except as otherwise expressly included in this Privacy Policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to others, whether they are Tenants or Landlords or other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. Rentler.com does not control the privacy policies of third parties. We encourage you to ask questions before you disclose your personal information to others. 	
		    <br />
		    <br />
		    Rentler.com has links to other websites that may collect personal information about you. Rentler.com is not responsible for the privacy practices or the content of those linked websites.
	    </li>
	    <li>
		    8.	<u>Accessing, Reviewing and Changing Your Personal Information.</u> You can see, review and change most of your personal information by logging into Rentler.com and editing your account profile. Generally, we will not manually modify your personal information because it is very difficult to verify your identity remotely. You must promptly update your personal information if it changes or is inaccurate. Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible based on your account activity and in accordance with applicable law. We do retain personal information from closed accounts in order to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our Terms of Use, and take other actions otherwise permitted by law. 	
	    </li>
	    <li>
		    9.	<u>Account Protection.</u> Your password is the key to your account. Use unique numbers, letters and special characters, and do not disclose your Rentler.com password to anyone. If you do share your password or your personal information with others, remember that you are responsible for all actions taken in the name of your account. If you lose control of your password, you may lose substantial control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately notify Rentler.com and change your password.	
	    </li>
	    <li>
		    10.	<u>Security.</u> Your information is stored on our servers located in the United States and/or worldwide. We treat data as an asset that must be protected and use various tools (encryption, passwords, physical security, etc.) to protect your personal information against unauthorized access and disclosure. However, as you probably know, third parties may unlawfully intercept or access transmissions or private communications, and other users may abuse or misuse your personal information that they collect from Rentler.com. Therefore, although we work very hard to protect your privacy, we do not promise, and you should not expect, that your personal information or private communications will always remain private. 
	    </li>
	    <li>
		    11.	<u>General.</u> We may amend this Privacy Policy at any time by posting the amended terms on Rentler.com. We'll provide you with notice of the changes on the site. Amended terms take effect upon acceptance for new users and thirty (30) days after they are posted on Rentler.com for all other users. 
	    </li>
	    <li>
		    12.	<u>Questions.</u> Questions regarding this policy should be directed to the following address: 
		    <br />
		    <br />
		    Rentler<br />
		    Attn: Privacy Officer<br />
		    9571 South 700 East Suite 103<br />
		    Sandy, UT<br />
		    84070<br />
		    corp@rentler.com
	    </li>
    </ol>
</div>