
@section Css{

<style>
	.placeholder {
		background-image: url('/images/timImage/logo.png');
		background-repeat: no-repeat;
		background-position: top center;
		width:664px;
		height:3000px;
		background-color: #EC1C24;
	}
	.placeholder p{
		padding-top: 100px;
		margin:0px;
		color: White;
		font-family: 'Georgia','Times News Roman','Serif';
		font-size: 2.0em;
		text-align: center;
	}
</style>
}

<div class="placeholder">
	<p>Search will be here soon!</p></div>
