<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmplifyJS" version="1.0.0" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="foolproof" version="0.9.4517" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.InfiniteScroll" version="2.120312" />
  <package id="jQuery.UI.Combined" version="1.8.20" />
  <package id="jQuery.Validation" version="1.9" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="knockoutjs" version="2.1.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="2.5.3" />
  <package id="MvcExtensions" version="2.0.4.534" />
  <package id="MvcExtensions.Foolproof" version="2.0.4.534" />
  <package id="MvcMailer" version="1.1" />
  <package id="MvcPaging" version="2.0.2" />
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="Ninject" version="3.0.0.15" />
  <package id="Ninject.MVC3" version="3.0.0.6" />
  <package id="Ninject.Web.Common" version="3.0.0.7" />
  <package id="T4Scaffolding" version="0.9.9" />
  <package id="WebActivator" version="1.5" />
</packages>