<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="Rentler.Data.RentlerContext"
         connectionString="Data Source=figklw2oya.database.windows.net;Initial Catalog=RentlerStage;Persist Security Info=True;User ID=RentlerStageAdmin;Password=7h3r3n73rT33mp4ssdyfmw!"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!-- Caching configuration -->
    <add key="L1CacheEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <!-- Redis configuration for l2 caching -->
    <add key="RedisHost" value="rentlerredis.cloudapp.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RedisAuth" value="fckgwrhqq2yxrkt8tg6w2b7q8T33mp4ss" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RedisPort" value="6379" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RedisDatabase" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="Hostname" value="https://stage.rentler.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Azure Blob Images -->
    <add key="BlobPrefix" value="Stage" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!-- Modpay Payment Settings -->
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <healthMonitoring enabled="true" xdt:Transform="Replace">
      <eventMappings>
        <clear />
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" from="developers@rentler.com" to="Developers@rentler.com" buffer="false" />
      </providers>
      <rules>
        <clear />
        <add name="All Errors Default" eventName="All Errors" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:10" />
      </rules>
    </healthMonitoring>
  </system.web>

  <system.webServer xdt:Transform="Replace">
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    
    <!--<httpErrors existingResponse="Replace">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="404" path="https://stage.rentler.com/error/404.htm" responseMode="File" />
      <error statusCode="403" path="https://stage.rentler.com/error/403.htm" responseMode="File" />
      <error statusCode="500" path="https://stage.rentler.com/error/500.htm" responseMode="File" />
    </httpErrors>-->

    <rewrite>
      <rules>
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://stage.rentler.com/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@rentler.com">
        <network defaultCredentials="false"
                 host="smtp.sendgrid.net"
                 port="587"
                 enableSsl="true"
                 userName="Rentler"
                 password="T33mp4ssdyfmw" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>