@section title { Application Request Submitted}

@section Css { 
	<link rel="Stylesheet" href="/css/pages/requestapp.css?v=@Html.BuildNumber()" />
}

<div class="container body">	    
    <h2 class="darkHeading">Request for Application</h2>
	<div class="gradHeading">
		<p>Application request was submitted</p>
		<div class="subHeading">
			<a href="/property/search" class="button green">Back to Dashboard</a>
		</div>
	</div>    
</div>