<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<!-- Redis configuration for l2 caching -->
		<add key="RedisHost" value="localhost" />
		<add key="RedisAuth" value="" />
		<add key="RedisPort" value="6379" />
		<add key="RedisDatabase" value="0" />
		<add key="RedisCacheDatabase" value="1"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="RentlerEntities" connectionString="
				 metadata=res://*/New.Rentler.csdl|res://*/New.Rentler.ssdl|res://*/New.Rentler.msl;provider=System.Data.SqlClient;
				 provider connection string=&quot;data source=figklw2oya.database.windows.net;initial catalog=RentlerStage;persist security info=True;user id=RentlerStageAdmin;password=7h3r3n73rT33mp4ssdyfmw!;multipleactiveresultsets=True;App=EntityFramework&quot;" 
				 providerName="System.Data.EntityClient"/>-->
		<add name="RentlerEntities" connectionString="metadata=res://*/New.Rentler.csdl|res://*/New.Rentler.ssdl|res://*/New.Rentler.msl;provider=System.Data.SqlClient;        provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Rentler.Data.RentlerContext;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="RentlerNewEntities" connectionString="metadata=res://*/Old.Rentler.csdl|res://*/Old.Rentler.ssdl|res://*/Old.Rentler.msl;provider=System.Data.SqlClient;      provider connection string=&quot;data source=.\sqlexpress;initial catalog=RentlerBackup;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add	name="RentlerNewEntities"
					connectionString="metadata=res://*/Old.Rentler.csdl|res://*/Old.Rentler.ssdl|res://*/Old.Rentler.msl;provider=System.Data.SqlClient;
					provider connection string=&quot;data source=ojcqrdf9an.database.windows.net;initial catalog=RentlerNew;persist security info=True;user id=RentlerAdmin;password=7h3r3n73r!;multipleactiveresultsets=True;App=EntityFramework&quot;"
					providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
</configuration>